
/* imports */
/* -------------------------------------------------------------------------- */

//@import 'vendors/normlize';
@import 'base/variables';
@import 'base/text';
@import 'base/lists';
@import 'base/quotes';
@import 'base/tables';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';
@import 'components/statblock';
@import 'components/attribute-list';
@import 'components/npc';

html, body {
  height: 100%;
  width: 100%;
}

main {
  max-width: 755px;
  margin: 0 auto;
}

img {
  /* inline or small */
  &.pull { }
  /* big full page */
  &.full { }
}

