/* for small asides, normally for role playing purposes */
.aside {
  background-color: $color-light-emphasis;
  font-family: $font-stack-sans-serif;

  h4 {
    font-family: $font-stack-sans-serif;
    font-weight: bold;
    color: black;
    size: 12px;
  }
}

