.statblock {
  width: 424px;
  font-family: $font-stack-statblock;
  background: #FDF1DC;
  padding: 0.6em;
  border: 1px #DDD solid;
  box-shadow: 0 0 1.5em #867453;
  margin: 1em;
  page-break-inside: avoid;
  float: left;

  @include clearfix;
}

.statblock:nth-child(odd) {
  clear: left;
}

.statblock-gradient {
  background: linear-gradient(10deg, #A73335, white);
  height:5px;
  margin:7px 0px;
}

h4 {
  font-size: 225%;
  font-family: $font-stack-statblock-title;
  font-variant: small-caps;
  font-weight: bold;
  color: #7A200D;
  margin: 0px;
}

dl.statblock-basic {
  color: #7A200D;

  dt {
    font-weight: bold;
    float: left;
    margin-right: 0.4em;
  }
}

dl.statblock-detailed {
  color: black;

  dt {
    font-weight:bold;
    font-style:italic;
  }
  dd {
    margin-bottom: 0.5em;
  }
  dd:last {
    margin-bottom: 0;
  }
}

.statblock .attribute-list {
  table-layout: fixed;
  width: 100%;
}

.statblock-action-title,
h5 {
  font-size: 175%;
  font-variant: small-caps;
  color: #7A200D;
  margin: 0.5em 0px 0.5em 0px;
  border-bottom: 2px solid #7A200D;
  font-weight: normal;
}

svg.statblock-hr {
  fill: #922610;
  stroke: #922610;
  margin-top: 0.7em;
  margin-bottom: 0.35em;
}

