

$text-color: #252525;
$text-color-title: #eee;
$text-color-subtitle: #eee;
$text-color-dropcap: #151515;

$background-color: #f1f3f2;

$font-stack: "Balto", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$font-stack-bigtitle: "modesto-condensed", sans-serif;
$font-stack-subtitle: Harriet, "Georgia", serif;
$font-stack-dropcap: "cabazon";
