
$text-color: #252525;
$text-color-title: #eee;
$text-color-subtitle: #eee;
$text-color-dropcap: #151515;

$font-stack: "Balto", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$font-stack-bigtitle: "modesto-condensed", sans-serif;
$font-stack-subtitle: Harriet, "Georgia", serif;
$font-stack-dropcap: "cabazon";
$font-stack-statblock: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
$font-stack-statblock-title: 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;

$font-stack-sans-serif: sans-serif;

$page-width: 775px;

/* theme variables */
/* -------------------------------------------------------------------------- */

$background-color: #f1f3f2;
$parallax-image: url(../img/dnd5_background.jpg);
$color-light-emphasis: green;
